/* Base Styles
------------------------------ */

/* body{ font-family: 'ProximaNova', Helvetica, sans-serif; line-height: 1;letter-spacing: .25px;} */
h1 {color: #31384E;}
.wrap h1{font-size:15px;margin: 0;padding: 9px 0 4px;line-height: 29px;
display: block;}
/*h1 {font-family: 'ProximaNova Semibold', Helvetica, sans-serif;line-height: normal;}
h2, h3, h4, h5, strong {font-family: 'ProximaNova Medium', Helvetica, sans-serif;line-height: 1.8;}*/
/* a{color: #4381ca;}
a:hover{color: #4781FF;} */
.acf-image-uploader .image-wrap img{background: #fff;}
.preloader {position: absolute;top: 0;bottom: 0;background: rgba(255,255,255,0.8);
width: 100%;height: 100%;z-index: 999;display:none;}
.loader {border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #3498db;width: 120px;height: 120px;-webkit-animation: spin 2s linear infinite; /* Safari */  animation: spin 2s linear infinite;position: absolute;top: 25%;left: 40%;}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Titles & Wraps
------------------------------ */
.js.plugins-php .search-box .wp-filter-search { font-size: 15px;}
#preview-action {display: none;}
/* .postarea .wp-core-ui .button{background: #fff;border: none;transition: all .3s ease;color: #666;} */
.postarea .wp-core-ui .button:hover {background: #d8d8d8;color: #4687E4;}
.wp-pointer, #wp-admin-bar-comments {display: none;}
/* .udm-opt p.submit {text-align: right;padding-right: 1.5%;} */
.themes-php .wp-filter-search {display: none;}
#slider_options-slider-options input, #slider_options-slider-options textarea{width: 100% !important;}
#slider_options-slider-options textarea {min-height: 200px;}

/* Whitelabel
------------------------------ */
.notice-success, div.updated, #update-nag, .update-nag {display: none !important;}
.plugins-popular-tags-wrapper {	display: none;}
.wp-list-table.plugins tbody tr.plugin-update-tr td.plugin-update {box-shadow: none;}
.tablenav {clear: both;height: 30px;margin: 20px 0 20px;vertical-align: middle;}

/* Buttons & Tabs
------------------------------ */
.tab-content .form-table {font-size: 14px;background: #fff;}
span.nf-insert-form {color: #888;font: 400 18px/1 dashicons;-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;display: inline-block;width: 18px;height: 18px;vertical-align: text-top;margin: -1px 2px 0 0;font-size: 13px;}
.widgets-sortables {	padding: 8px 11px !important;margin-bottom: 9px;}
.widget-top {border: none;}
#contextual-help-link-wrap {display: none;}
#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widgets-holder-wrap, p.popular-tags, table.widefat {
border: none;box-shadow: 0 10px 15px rgba(0, 0, 0, .04);border-radius: 3px;}

/* Admin Bar
------------------------------ */

/* Tabs
------------------------------ */

ul.tabs li {border-bottom: 3px solid rgba(0, 0, 0, 0);}
ul.tabs li:hover {border-bottom: 3px solid rgba(0, 0, 0, .1);}
ul.tabs li.current {border-bottom: 3px solid #4687E4 !important;}
.tab-content h2 {padding-left: 4px;}
.view-switch a.current:before {color: #4687E4;}
.theme-browser .theme .theme-actions, .theme-browser .theme.active .theme-actions {position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);right: 0;
padding: 10px 15px;box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);background: #24282e;}
.js .menu-item-handle {cursor: move;box-shadow: none;}

/* Inputs
------------------------------ */
.own-fields input[type="text"], .own-fields select{width: 100%;padding: 3px 5px;resize: none;margin: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-size: 14px;line-height: 1.4;} 

#tab-1 td input[type="text"],#tab-1 td input[type="email"],#tab-1 td input[type="url"] {
width: 50% !important;}
#tab-2 td input[type="text"],#tab-2 td input[type="email"],#tab-2 td input[type="url"] {
width: 50% !important;}
#tab-3 td input[type="text"],#tab-3 td input[type="email"],#tab-3 td input[type="url"] {
width: 50% !important;}
#tab-4 td input[type="text"],#tab-4 td input[type="email"],#tab-4 td input[type="url"] {
width: 50% !important;}
#tab-5 td input[type="text"],#tab-5 td input[type="email"],#tab-5 td input[type="url"] {
width: 50% !important;}
#tab-6 td input[type="text"],#tab-6 td input[type="email"],#tab-6 td input[type="url"] {
width: 50% !important;}

tbody {border-right: 1px solid #efefef;}
tr {border-top: 1px solid #efefef;}
tr:last-child {border-bottom: 1px solid #efefef;}
.wp-picker-container {margin-left: 18px;}
.form-table th {color: #333;background: #f9f9f9;padding-left: 15px;border-right: 1px solid #efefef;border-left: 1px solid #efefef;}
.form-table input[type=radio] {margin-left: 20px;}
.form-table input[type=radio]:nth-child(1) {margin-left: 10px;}
ul.tabs {margin: 0px;padding: 0px;list-style: none;}
ul.tabs li {background: none;color: #222;display: inline-block;padding: 20px 15px;
cursor: pointer;margin-bottom: 0px;margin-top: 22px;}
ul.tabs li.current {background: #ffffff;color: #333;}
.tab-content {display: none;background: #fff;padding: 15px;}
.tab-content.current {display: inherit;}
.tab-content textarea {width: 100%;height: 150px;border: none !important;}
.tab-content input[type="color"] {width: 40px;height: 44px;padding: 0px;box-shadow: none !important;border: none !important;vertical-align: middle;margin-right: 10px;}
.custom-label-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {text-indent: -3.4em;}
.custom-label-flipswitch.ui-flipswitch .ui-flipswitch-off {text-indent: 0.5em;}
.customcolor .wp-picker-container .wp-color-result.button {height:32px;margin: 0 8px 0px 0;padding: 0 30px 0 30px;font-size: 14px;background:#fff;}
.customcolor .wp-picker-container{float: left;margin-left: 0px;}
.customcolor .wp-picker-container input[type="button"].wp-picker-clear, .custom_color_picker .wp-picker-container input[type="button"].wp-picker-clear{height: 31px;line-height: 31px;}
.custom_color_picker .wp-picker-container .wp-color-result.button {height:27px;margin: 0 6px 0px 0;padding: 0 0px 0 30px;font-size: 14px;}
.custom_color_picker ul li{position:relative;}
.custom_color_picker .wp-picker-container{position:absolute;width: 200px;} 
.custom_color_picker .wp-picker-active span.wp-picker-input-wrap{position: absolute;top: 40px;
width: 100%;left: 0px;}
.custom_color_picker .wp-picker-container input[type=text].wp-color-picker{padding: 5px 5px;background: #fff;margin-right:6px;width: 150px;}
.custom_color_picker .wp-picker-active .wp-picker-holder{position: absolute;top: 80px;z-index: 9;} 
.custom_color_picker ul.list li:nth-child(4) .wp-picker-active .wp-picker-holder{left:-50px;}
.wp-picker-container .wp-color-result.button, .wp-picker-container .wp-color-result.button:focus{outline:none;}
.wp-picker-container span.wp-color-result-text{margin-right:0px;margin-top:0!important;}
.wp-color-result-text {background: #f7f7f7;border-radius: 0 2px 2px 0;border-left: 1px solid #ccc;color: #555;display: block;line-height: 24px;padding: 0 20px;text-align: center;
height:24px;}
.tab-content textarea{border:1px solid #ddd !important;}

/******new_custom_css*******/

/* .udm-opt p.submit{float: left;width: 100%;box-sizing: border-box;
text-align: left;padding-left:0px;} */
.acc-link::after{float:right !important;top:-4px;margin-top:0 !important;}
/* #headerset .inner h4,#navigation .inner h4,#calltoaction .inner h4,.base-setings .inner h4,.social-setings .inner h4,#featuredimage .inner h4{font-size:14px;padding-top:10px;float:left;width:340px;} */
#headerset .inner li,#featuredimage .inner li{float:left;width:100%;}  
#headerset .inner .button,#navigation .inner .button,#calltoaction .inner .button,#featuredimage .inner .button{border: 1px solid rgba(0, 0, 0, .1);}
.common_setting .inner li, .cus_grid_style .common_setting li, .custom_btn_style .own_fields{margin: 6px 0px;border: 1px solid #e4e4e4;padding: 6px 15px;line-height:36px;}
#newlayout ul li h4, #editlayout ul li h4, .common_setting .inner li h4{font-size:14px;line-height:30px;font-weight:600;} 
.custom_layout .common_setting>li h4{width:25%;margin:0px;margin-right:2%;float:left;}  
.common_setting li.colorchange ul.customcolor>li h4{margin-right:1.4%;}
.cus_grid_style .common_setting .custom_btn_style .own_fields h4{margin-right:1%;}
.cus_grid_style .common_setting .custom_btn_style .own_fields .customcolor li h4{margin-right:0;}
.custom_layout .common_setting li .inner li, .cus_grid_style .common_setting>li{clear:both;display:block;width:97%;float:left;}
.custom_layout .common_setting li  input[type="number"], .custom_layout .common_setting li  input[type="text"], .custom_layout  .common_setting li select, .custom_layout .common_setting textarea{float:left;}
.custom_layout .common_setting li  input[type="number"], .custom_layout .common_setting li input[type="text"]{padding: 2px 10px;width:72.8%;}
.custom_layout .common_setting li  input[type="number"], .custom_layout .common_setting li input[type="text"], .custom_layout  .common_setting li select, .custom_layout .common_setting select, .custom_layout .common_setting textarea{font-size: 14px;line-height: 32px;}
.custom_layout .common_setting li  input[type="number"], .custom_layout .common_setting li input[type="text"], .custom_layout  .common_setting li select, .custom_layout .common_setting select{height: 32px;}
.custom_layout .common_setting li select, .custom_layout .common_setting textarea{padding:0px;margin:0px;width:73%;}
.custom_layout .common_setting textarea{height:80px;padding: 2px 10px;}
/* .base-setings .inner li .logo_settings .main-logo[type="text"]{
    width:58%; }  
ul.base-setings>li>ul.inner{width: 100%;} */
.custom_layout .wp-picker-container input[type=text].wp-color-picker{width:140px;float: none;line-height: initial;height: auto;padding: 5px 5px;vertical-align: top;margin-right: 6px;}
#udm_call_phone_txt{margin-bottom:8px;padding:10px;width:150px;}
#headerset .inner li span,#calltoaction .inner li span,#featuredimage .inner li span{margin-right:4px;}
#headerset .inner li span:nth-child(3),#calltoaction .inner li span:nth-child(3),#calltoaction .inner li span:nth-child(4),#featuredimage .inner li span:nth-child(3){margin-left:15px;}
#calltoaction .inner li span,#featuredimage .inner li span{margin-top:5px;}
#headerset .inner li input[type='radio'],#calltoaction .inner li input[type='radio'],#featuredimage .inner li input[type='radio']{
margin-right:0px; }
#udm_action_button_txt,#udm_action_button_icon{padding:7px; } 
#udm__h1_fimg1_text_part_heading,#udm__h1_fimg1_image_url, #udm__h1_fimg1_txt,#udm__h1_fimg1_text_part_button_text{width:160px;}
.featured_img_setting textarea{float:left;width:60%; }
.featured_img_setting input{padding:7px !important; }
.featured_img_setting input[type='radio']{padding:0px!important; }
.featured_img_setting input[type="text"]{width: 160px;}
.acc-link{float:left;width:100%;}
ul.tabs{margin-bottom:20px;} 
.wrap.udm-opt .tab-content{background-color:#fff !important;float:left;
width:100%;}
.wrap.udm-opt .tab-content.current{background-color:#fff !important; }
/* .base-setings .inner input, .social-setings .inner input, .headerset .inner input, .featured_img_setting .inner input {padding:6px;} */
.anotherurl{float: left;width: 100%;padding-left: 340px;}
.header_type_style .wp-picker-holder{padding-left:0px;}
/* .base-setings .inner h4, .social-setings .inner h4{width:25%;}
.base-setings .inner h4 span{width: 100%;font-size: 11px;font-weight: 400;}
.base-setings .main-logo{float:left;margin-right:10px;} */
/* .base-setings .upload-image.btn{background-color:#008ec2;color:#fff;
padding:7px 10px;float:left;font-size: 14px;}
.base-setings .upload-image.btn:focus{box-shadow: none;} */
#udm_logo_width,#udm_logo_max_width{margin-right:7px;padding:7px;width:150px;}
#navigation select{width: 145px;}
#featuredimage{padding-left:0;padding-right:0;padding-top:0;}
.header-part{float: left;width: 100%;margin-bottom: 10px;border-bottom: 1px solid #e0e0e0;background-color: #e4e4e4;padding:20px;}
.featured_img_setting{padding-right:20px;padding-left:20px;}
.howl-iconpicker .srchicons{
    font-size:14px;
    padding:8px!important;
    border-radius:3px!important;
    width:245px !important;
}

.howl-iconpicker .geticonval{
    width:50px !important;
    height:50px !important;
}

.howl-iconpicker-close{
    width:260px!important;
    padding:8px!important;
}

.wrap.udm-opt h1{
    background-color:#4c8cde !important;
    color:#fff;
    padding:10px 15px!important;
    margin-bottom:30px;
    font-weight:600;
}
 
.inner .form-control.icp-auto{
    cursor:pointer;
}

/****accordion*****/
.acc-link:after {
   content: "x";
   position:relative;
   float:left;
   margin-top:-8px;
   margin-left:5px;
   font-size:20px;
   font-weight:600;
   color:#fff;
 -webkit-animation: minus 0.8s;
   animation: minus 0.8s;
}
.acc-link.collapsed:after {
   content: "+";
  -webkit-animation: plus 0.8s;
   animation: plus 0.8s;
} 

@keyframes minus {
    0% {transform: rotate(360deg);}
    0% {-webkit-transform: rotate(360deg);}
}

@keyframes plus {
   0% {transform: rotate(-360deg);}
   0% {-webkit-transform: rotate(-360deg);}
}

.custom_design_dropdown .btn-primary{
	background-color:#2291be;
	color:#fff;
	border-color:transparent;
}
    
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle,.btn-primary:focus,.btn-primary:hover,.btn-primary:active{
	background-color:#2291be !important;
	color:#fff;
	border-color:transparent !important;
	box-shadow:none !important;
}
.show > .btn-primary.dropdown-toggle{
	border-color:transparent!important;
}
    
.custom_design_dropdown.dropup .dropdown-toggle::after{
  display:none;
}
    
.custom_design_dropdown .dropdown-menu{
	background-color:#2f373d;
	color:#fff;
}
    
.custom_design_dropdown .dropdown-item{
	color:#fff;
	padding:4px 10px;
}
    
.dropdown-item:focus, .dropdown-item:hover{
	background-color:#1975a5 !important;
	color:#fff!important;
}
    
.arrow-down {
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #31353c;
position: absolute;
display: flex;
align-items: center;
left: 50%;
transform: translateX(-50%);
bottom: -10px;
}

.create_new_header_button{
    display:block;
    position:relative;
    text-align:right;
    background-color:#fff;
    padding-right: 15px;
    padding-bottom:15px;
    
}

.create_header_top{
    background-color:#fff;
    margin-bottom:2px;
     padding: 10px;
}
.create_header_top h2{
    font-size:15px;
    margin:0;
}

.empty{
    background-color:#fff!important;
    padding:15px;
    text-align: center;
}

.empty p{font-size:15px;border:2px dashed #ccc;padding:15px;margin-bottom:0;}
.header_type_style li h3{font-size: 14px;margin:0px;font-weight:600;display:inline-block;line-height:36px;}
.featured_layouts li{display:flex;}
#editlayout .featured_layouts li{align-items: center;}
.featured_layouts li h3{display:flex;align-items:center;} 
.header_type_style #action_button li h3{width:234px;}
/*  .header_type_style li  h4, .header_type_style li  h5{font-weight:600; 
font-size:14px;display:inline-block;width:230px;} */ 
.header_type_style li h4 span{float: left;width:100%;padding:7px 0;font-size:12px;}
.header_type_style li h3 span{display: block;font-style: italic;font-weight:400;font-size:16px;padding-top:7px;}
.header_type_style li{margin-top:6px;margin-bottom:5px;border:1px solid #e4e4e4;padding:6px 15px;}
/* .header_type_style li h2{font-size:18px;font-weight:600;margin-bottom:30px;
margin-top:10px;}
.header_type_style li ul li{padding:6px 0;border:none;} */
.topbarwiget,.bottombarwiget,.navigation-overide{margin-top:30px;}
.nav-overide li:last-child{margin-top:6px;}
.header_layout_heading{font-size:15px;background-color:#4C8CDE;color: #fff;
padding: 10px 15px;font-weight:600;display:flex;position:relative;}
.header_layout_heading a{color: #fff;display:block;text-decoration: none;}
.header_layout_heading a:hover,.header_layout_heading a:focus{color:#fff;text-decoration:none;outline:none;box-shadow:none;}
.header_layout_heading  a.collapsed:before{content: "\f107"; font-family: FontAwesome;right:0px;position:absolute;top:0px;}
.header_layout_heading  a:after{content: "\f106"; font-family: FontAwesome;right:10px;position:absolute;top:8px;}
.header_layout_heading  a.collapsed:after{display:none;}
.header_type_style .upload-image.btn{background-color:#848484;color:#fff;
padding:7px 10px;font-size: 14px;margin-top:0px;}
.footer_layout_heading{font-size:18px;background-color:#4C8CDE;color: #fff;
padding: 10px 15px;font-weight:600;}
.footer_layout_heading a{color: #fff;display:block;text-decoration: none;
position:relative;}
.footer_layout_heading a:hover,.footer_layout_heading a:focus{color:#fff;
text-decoration:none;outline:none;box-shadow:none;}
.footer_layout_heading  a.collapsed:before{content: "\f107";font-family: FontAwesome;right:0px;position:absolute;top:0px;}
.footer_layout_heading  a:after{content: "\f106";font-family: FontAwesome;
right:0px;position:absolute;top:0px;}
.footer_layout_heading  a.collapsed:after{display:none;}
.footer_type_1 .upload-image.btn{background-color:#008ec2;color:#fff;
padding:7px 10px;font-size: 14px;margin-top:10px;}
#logo_back_opt li{padding:0px !important;border:none;}
.header_type_style .wp-picker-container{
    margin-left:0!important;
    display: inline-block;
    width:55%;
}
.footer_type_1 .wp-picker-container{
    margin-left:0!important;
}


.phonenowidget li span input[type="radio"] {
	margin-right: 0px;
	top: 2px;
	position: relative;
}

.phonenowidget li span{
    margin-right:10px;
}

.header_type_style li.topbarwiget,.header_type_style li.bottombarwiget,.header_type_style li.navigation-overide{
    padding:0;
    border:none!important;
}

.topbarwiget h2,.bottombarwiget h2,.navigation-overide h2{
    padding:10px 15px;
    margin:0 !important;
    background-color:#4C8CDE;
    color:#fff;
    
}

.bottombarwiget,.topbarwiget{
    margin-top: 30px!important;
}

#topbar_layouts li:first-child{
    margin-top:0!important;
}

#phoneno h4,#bottommenu h4{
    margin-top:5px;
}

#phoneno .phonenowidget li h4,#bottommenu .menuwidget li h4{
    margin-top:0px;
}

#topbar_layouts .custom_design_dropdown,.bottombarwiget .custom_design_dropdown{
    margin-top:10px;
}

.bottombarwiget .custom_design_dropdown,#topbar_layouts .custom_design_dropdown{
    margin-left:15px;
}

/*
#topbar_layouts li:nth-child(2),#topbar_layouts li:nth-child(3){
    margin-top:30px;
}
*/

.innerwidget,.navigation-overide .nav-overide{
    padding:15px;
    border:1px solid #e4e4e4;
}

.create_new_header_button .custom_design_dropdown{
    padding-right:15px;
}
.custom_design_dropdown .dropdown-menu{position: absolute;top: -140px!important;left: 0px;z-index: 1000;display: none;float: left;min-width: 10rem;padding: 0.5rem 0px;margin: 0.125rem 0px 0px;font-size: 1rem;color: rgb(33, 37, 41);text-align: left;list-style: none;background-clip: padding-box;border: 1px solid rgba(0, 0, 0, 0.15);border-radius: 0.25rem;width: auto;transform:none!important;will-change: initial!important;}
.custom_design_dropdown{position:relative;}
.custom_design_dropdown .dropdown-menu.show{display:block;}
.custom_design_dropdown .dropdown-menu.show a.dropdown-item{display:block;text-decoration:none;}
.header_type_style input[type="number"], #nav_settings input[type="number"]{
    padding:5px;
    width:150px;
    margin-left:0px;    
}
/*
.colorchange,.rightwidget{
    display:block !important;
}
*/
/* .colorchange  select,.rightwidget select{
    width:78% !important;
} */

.colorchange h3,.rightwidget h3{
    display:inline-flex !important;
}
/* .customcolor li{
    border:none !important;
    padding:0px;
} */

.dashboard_heading{
    margin-top:30px;
    margin-bottom:30px;
    font-size:24px;
}

.header_dashboard {
    margin-bottom:30px;
}

.header_bottom_text{
    padding:15px;
    background-color:#fff;
    box-shadow: 0px 3px 6px #d8d8d8;
}
.header_dashboard h2 {
	background-color: #4c8cde !important;
	color: #fff;
	padding: 10px 15px !important;
	margin-bottom:0px;
	font-weight: 400;
    font-size:20px;
}

.header_dashboard p {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 8px;
}

/*#wpbody-content {
	width: 98%;
}

#udm_button_text_color,#udm_button_background{
    width:68% !important;
}


/***footer_cta*****/
.footer_cta_type_style li {
	margin-top: 6px;
	margin-bottom: 5px;
	border: 1px solid #e4e4e4;
	padding: 6px 15px;
    font-size:0px;
}

.footer_cta_type_style li span{
    font-size:14px;
}
.footer_cta_type_style li h4,.footer_cta_type_style li h3{
	font-size: 14px;
	margin-bottom: 0px;
	font-weight: 600;
	display: inline-block;
	width: 250px;
	line-height: 36px;
}

.footer_cta_type_style select {
	padding: 0px 10px;
	line-height: 32px;
	height: 32px;
	margin-left: 0px;
	border: 1px solid #d2d2d2;
	font-size: 14px;
	width:74%;
}
.footer_cta_type_style .wp-picker-container {
	margin-left: 0 !important;
	display: inline-block;
	width: 55%;
}
.footer_cta_type_style li input[type="text"]{
	width: 74%;
}
.footer_cta_type_style li input[type="text"], .footer_cta_type_style li select{
	
	padding: 0 10px;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	margin-left:0px;
}
.footer_cta_type_style li select{
	width: 74%!important;
}

.footer_cta_type_style li ul li {
	padding: 6px 0;
	border: none;
}

#editelement_image_url,#editbackground_image,#editelement_video_poster_url{
	width:62%;
	margin-left:0px;
}

.footer_cta_type_style li textarea{
	width: 74%;
	padding:10px;
	font-size: 14px;
	height:100px;
	margin-left:0px;
    line-height:20px;
}

.footer_cta_type_style li:nth-child(3){
    display:flex;
    align-items: flex-start !important;
}

/* #wpwrap input[type="number"] {
	height: 28px;
	line-height: 1;
	width: 70px;
	padding: 2px;
	font-size: 16px;
} */

.editsection{
    margin-top:40px;
}



#header_type_1  select,#header_americanmechanical select,#header_evernote select,#header_type_custom select{
    width:55%!important;
}

#middletopbar,#phoneno,#bottommenu,#middletopbar .custom_design_dropdown,#phoneno .custom_design_dropdown,#bottommenu .custom_design_dropdown{
    padding-left:15px;
}

#middletopbar{
    padding-left:0;
}

#newfeatlayout{
    margin-top:15px;
    margin-bottom:15px;
    float:right;
}
#newlayout ul li,#editlayout ul li h4{
    align-items: center;
}

/* .layout_top_data li,.mobilelayout_data li{display: flex;   align-items: center; 
} */

option.selectedlayout{background: green;color:#fff;}
#editlayout .uploaded_button input{margin-left:15px;}
select#editright_side_widget{width:74%;}
.fullwidth_hero #editbackground_type,.leadgen_hero #editbackground_type,.leftrighthero #editbackground_type,.splitscreen #editbackground_type{width:75%;display:inline-block;}
#editlayout .fullwidth_hero li input[type="text"],#editlayout .leadgen_hero li input[type="text"],#editlayout .leftrighthero li input[type="text"],#editlayout .splitscreen li input[type="text"]{width:63% !important;}
.fullwidth_hero li, .leadgen_hero li,.leftrighthero li,.splitscreen li{
	align-items: center;}
.fullwidth_hero .upload-image,.leadgen_hero .upload-image,.splitscreen .upload-image,.leftrighthero .upload-image{margin-left:7px;}
.fullwidth_hero li input{margin-left:0px;}
#editcallactionwidget li input[type="text"]{width:74% !important;}
.fullwidth_hero li input[type="radio"],.leftrighthero li input[type="radio"],.splitscreen li input[type="radio"],#selected_layout li input[type="radio"],#editselected_layout li input[type="radio"]{
    margin-right:1px; }

/* .fullwidth_hero li span,.leftrighthero li span,.splitscreen li span,#selected_layout li span,#editselected_layout li span{
    margin-right:30px;
} */

#editbackgroundimageoption li input[type="number"]{margin-left:0px;}
#layoutsettings #logo,#editlayoutsettings #logo{width:63%;}
#layoutsettings .upload-image,#editlayoutsettings .upload-image{
    margin-left:10px;}
/* .textwidget input,.menuwidget input{width:74% !important;} */
#lefttopbar_social_icon_color{width:73% !important;}
.company #udm_company_logo{width:62%;}
.company .upload-image{margin-left:10px;height: 32px;}
/* #blog_layout_template{width:100% !important;} */
.blog_layout_heading{font-size: 15px;background-color: #4C8CDE;color: #fff;padding: 10px 15px;font-weight: 600;}
.blog_layout_heading a{color: #fff;display: block;text-decoration: none;position: relative;box-shadow:none;}
.blog_layout_heading a::after{content: "\f106";font-family: FontAwesome;right: 0px;position: absolute;top: 0px;}
.blog_layout_heading a.collapsed::before{content: "\f107";font-family: FontAwesome;right: 0px;position: absolute;top: 0px;}
.blog_layout_heading  a.collapsed:after{display:none;}
.editmobilelayout_data li{display:flex;align-items: center;}
.mobilelayout_data li,.editmobilelayout_data li{float: left;width:100%;
margin-top: 6px;margin-bottom: 5px;border: 1px solid #e4e4e4;padding: 6px 15px;}
.mobilelayout_data li h4,.editmobilelayout_data li h4{font-size: 14px;
font-weight: 600;width: 230px !important;margin-bottom: 0;}
.mobilelayout_data li h3,.editmobilelayout_data li h3{font-size: 14px;
margin-bottom:0px;font-weight: 600;display: inline-block;width: 230px;
float: left;}
.mobilelayout_data li .customcolor li,.editmobilelayout_data  li .customcolor li{padding:6px 0px;}
.mobilelayout_data li .customcolor li .wp-picker-container, .editmobilelayout_data  li .customcolor li .wp-picker-container{
    margin-left:0;}
.mobilelayout_data li input[type="text"]{width:88%!important;}
.mobilelayout_data li input[type="text"]#logo_url{width:63%!important;}
.mobilelayout_data li span,.editmobilelayout_data li span{    margin-right:30px;}
.mobilelayout_data li input[type="radio"],.editmobilelayout_data li input[type="radio"]{margin:0;}
.editmobilelayout_data select{margin-bottom: 0px;width:74%;}
.editmobilelayout_data  li input[type="text"],.mobilelayout_data  li input[type="text"]{width:74% !important;}
.editmobilelayout_data  li.imageupload input[type="text"],.mobilelayout_data  li.imageupload input[type="text"]{width:63%!important; }
#editwebappdata h2, #webappdata h2{font-size: 15px;background-color: #4C8CDE;color: #fff;padding: 10px 15px;font-weight: 600;margin:20px 0;
float: left;width:100%;}

/******hero_layout******/
.newsection .col-md-12,.editsection .col-md-12{padding:0px;}
.hero_type_style li {
   /*  float: left;
    width:100%; */
	margin-top: 6px;
	margin-bottom: 5px;
	border: 1px solid #e4e4e4;
	padding:10px 15px;
}

.hero_type_style li h3 {
    float:left;
	font-size: 14px;
	margin-bottom:0px;
	font-weight: 600;
	display: inline-block;
	width: 230px;
    line-height:32px;
}

#editsavedlayout{
    width:100%;
    margin-bottom:30px;
}

.hero_type_style li.colorchange{
    display:block;
}

/* .hero_type_style li.colorchange .customcolor li{
    padding:0;   
}

.hero_type_style li.colorchange .customcolor li .wp-picker-container{
    margin-left:0;    
}
 */
/* #editlayout .hero_type_style li input[type="text"],.hero_type_style li input[type="text"]{
    width:74% !important;
} */

.switch label{
    margin-bottom:0;
}

/****mobile_header_layout****/

.mobilelayout_data li.colorchange,.editmobilelayout_data li.colorchange{
    display:block;
}


/*******default-color*******/

.defaultdatasection h2{background-color: #4c8cde !important;color: #fff;padding: 10px 15px !important;margin-bottom: 30px;font-weight: 600;font-size:15px;}
.defaultdatasection .list{border: 1px solid #e4e4e4;margin-bottom:0;padding:10px 15px;}
.defaultdatasection .list li{float:left;width:25%;line-height:30px;margin-bottom:0;}
.defaultdatasection .list li .wp-picker-container{display:inline-block;}

/******media-queries******/

@media(min-width:992px) and (max-width:1199px){
    .base-setings .inner h4 {
	   width: 260px;
	   height: 35px;
    }
    
    .base-setings select {
	   width: 60%;
    }
    
    .base-setings .inner li .logo_settings .main-logo[type="text"] {
	   width: 48%;
    }
}


@media(max-width:991px){
    .base-setings .inner li .logo_settings .main-logo[type="text"],.base-setings select{width: 100%;margin-bottom:15px;margin-right:0;}
}
@media(max-width:960px){
	.general-setings li{width:100%;padding-right:0;}
}
.bottom-input{width: 80%;margin: 10px 0px;resize: none;}
.defaultdatasection span.wp-color-result-text, .defaultdatasection .wp-picker-container .hidden {display: none !important;} 

.switch-field {font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;overflow: hidden;}
.switch-title {margin-bottom: 6px;}
.switch-field input {position: absolute !important;clip: rect(0, 0, 0, 0);height: 1px;width: 1px;border: 0;overflow: hidden;}
.switch-field label {float: left;}
.switch-field label {display: inline-block;width: 60px;background-color: #e4e4e4;color: rgba(0, 0, 0, 0.6);font-size: 14px;font-weight: normal;text-align: center;text-shadow: none;padding: 6px 14px;border: 1px solid rgba(0, 0, 0, 0.2);-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);-webkit-transition: all 0.1s ease-in-out;-moz-transition:    all 0.1s ease-in-out;-ms-transition:     all 0.1s ease-in-out;-o-transition:      all 0.1s ease-in-out;transition:         all 0.1s ease-in-out;}
.switch-field label:hover {cursor: pointer;}
.switch-field input:checked + label {background-color: #A5DC86;-webkit-box-shadow: none;box-shadow: none;}
.switch-field label:first-of-type {border-radius: 4px 0 0 4px;}
.switch-field label:last-of-type {border-radius: 0 4px 4px 0;}
.ui-slider-range {background:green;}
.cus_own_field .own_label label{width: 25px;height: 25px;line-height: 25px;}

#poststuff .postbox-container table.mcf-input-table tr td.order, #poststuff .postbox-container table.mcf-input-table tr td.remove{background: #f4f4f4;cursor: move;color: #aaa;text-shadow: #fff 0 1px 0;vertical-align: middle;}
.own-fields .own_fields{padding: 10px 12px;}
.own_label label, .own_fields label{font-weight:600;}
#poststuff .postbox-container table.mcf-input-table .cus_td{width:100%;} 
#poststuff .postbox-container table.mcf-input-table .tr_clone_row{display:block;} 
#poststuff .postbox-container table.mcf-input-table tr td.remove a i{color: #999;border:1px solid #BBB;background-color: transparent;transition: none;border-radius: 50%;padding: 3px 2px 2px;line-height: 11px;font-size: 13px;}  
#poststuff .postbox-container table.mcf-input-table tr td.remove a:hover, #poststuff .postbox-container table.mcf-input-table tr td.remove a:focus{outline:none;} 
#poststuff .postbox-container table.mcf-input-table tr td.remove a:hover i{color:#fff;border:1px solid #ff0000;background-color:#ff0000;} 
#poststuff .postbox-container .addrow-btn{margin: 10px 0px 0px;}
#poststuff .postbox-container .addrow-btn li{float: right;}
/*#poststuff .postbox-container .addrow-btn li a{font-size: 16px;line-height: 40px;height: 44px;background-color: #4c8cde;border: none;color: #fff;display: inline-block;padding: 2px 15px;box-shadow: 1px 2px 3px #c3bcbc;transition: all .3s ease;border-radius: 3px;} 
#poststuff .postbox-container .addrow-btn li a:hover{text-decoration:none;}*/
.own_input_field_text .switch-field input:checked + label{background-color: #4c8cde;color:#fff;} 
#poststuff .own-fields .colorchange select, #poststuff .own-fields .colorchange input,  #poststuff .own-fields textarea{width:100%!important;}
#poststuff .own_fields.own_input_field_text .has-image{position:relative;display: inline-block;}
#poststuff .own_fields.own_input_field_text .has-image .img_hover{display: none;}
#poststuff .own_fields.own_input_field_text .has-image:hover .img_hover{display:block;}
#poststuff .own_fields.own_input_field_text .has-image .img_hover a{position:absolute;top:3px;right:4px;border-color: transparent;background: #23282D;color: #eee;height: 26px;width: 26px;display: inline-block;border-radius:50%;padding: 3px 4px;text-align: center;}  
#newlayout .hero_type_style #overlayrange #opacityslider, #editlayout .hero_type_style #overlayrange #opacityslider{float: left;width: 69%;margin-right: 1%;margin-top: 10px;}     
#newlayout .hero_type_style #overlayrange .show_per, #editlayout .hero_type_style #overlayrange .show_per{float: left;} 
.my-gallery_box .gallery_box{float: left;margin: 5px;border: #DFDFDF solid 1px;overflow: hidden;background: #eee;}
.my-gallery_footer {width: 100%;}
.my-gallery_box {width: 100%;height: 360px;overflow-x: auto;}
.my-gallery_box .has-image .img_hover a{position: absolute;top: 3px;right: 4px;border-color: transparent; background: #23282D;color: #eee;height: 26px;width: 26px;display: inline-block;border-radius: 50%;padding: 3px 4px;text-align: center;}
.my-gallery_box .has-image{position: relative;}
.clearfix{clear:both;display:block;float:none;}
.featured_layouts{clear:both;}
.cus_bar_widget .cus_bar_switch{float:right;}