/*********switch*******/ 
.switch {font-size: 1rem;position: relative;}
.switch input{position: absolute;height: 1px;width: 1px;background: none;border: 0;clip: rect(0 0 0 0);clip-path: inset(50%);overflow: hidden;
padding: 0;}
.switch input + label{position: relative;min-width: calc(calc(2.375rem * .8) * 2);border-radius: calc(2.375rem * .8);height: calc(2.375rem * .8);
line-height: calc(2.375rem * .8);display: inline-block;cursor: pointer;
outline: none;user-select: none;vertical-align: middle;text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);}
.switch input + label::before, .switch input + label::after{content: '';
position: absolute;top: 0;left: 0;width: calc(calc(2.375rem * .8) * 2);
bottom: 0;display: block;}
.switch input + label::before{right: 0;background-color: #dee2e6;border-radius: calc(2.375rem * .8);transition: 0.2s all;}
.switch input + label::after {top: 2px;left: 2px;border-radius: 50%;width: calc(calc(2.375rem * .8) - calc(2px * 2));height: calc(calc(2.375rem * .8) - calc(2px * 2));background-color: white;transition: 0.2s all;}
.switch input:checked + label::before{background-color: #0085ba;}  
.switch input:checked + label::after{margin-left: calc(2.375rem * .8);}
.switch input:focus + label::before {outline: none;box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);}
.switch input:disabled + label{color: #868e96;cursor: not-allowed;}
.switch input:disabled + label::before{background-color: #e9ecef;}
.switch.switch-sm {font-size: 0.875rem;}
.switch.switch-sm input + label{min-width: calc(calc(1.9375rem * .8) * 2);
height: calc(1.9375rem * .8);line-height: calc(1.9375rem * .8);text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);}
.switch.switch-sm input + label::before {width: calc(calc(1.9375rem * .8) * 2);}
.switch.switch-sm input + label::after {width: calc(calc(1.9375rem * .8) - calc(2px * 2));height: calc(calc(1.9375rem * .8) - calc(2px * 2));}
.switch.switch-sm input:checked + label::after{margin-left: calc(1.9375rem * .8);}
.switch.switch-lg {font-size: 1.25rem;}
.mcf_metabox .own_label label, .mcf_metabox .own_fields label{font-weight:600;}
.mcf_metabox .own-fields .own_fields{padding: 10px 12px;}
.my-gallery_box .gallery_box{float: left;margin: 5px;border: #DFDFDF solid 1px;overflow: hidden;background: #eee;}
.my-gallery_footer {width: 100%;}
.my-gallery_box {width: 100%;height: 360px;overflow-x: auto;}
.my-gallery_box .has-image .img_hover a{position: absolute;top: 3px;right: 4px;border-color: transparent; background: #23282D;color: #eee;height: 26px;width: 26px;display: inline-block;border-radius: 50%;padding: 3px 4px;text-align: center;}
.my-gallery_box .has-image{position: relative;}
.clearfix{clear:both;display:block;float:none;}
.mcf_metabox table.mcf-input-table tr td.order, .mcf_metabox table.mcf-input-table tr td.remove{background: #f4f4f4;cursor: move;color: #aaa;text-shadow: #fff 0 1px 0;vertical-align: middle;}
.mcf_metabox .own-fields .own_fields{padding: 10px 12px;}
.mcf_metabox .own_label label, .mcf_metabox .own_fields label{font-weight:600;}
.mcf_metabox table.mcf-input-table .cus_td{width:100%;} 
.mcf_metabox table.mcf-input-table .tr_clone_row{display:block;} 
.mcf_metabox table.mcf-input-table tr td.remove a i{color: #999;border:1px solid #BBB;background-color: transparent;transition: none;border-radius: 50%;padding: 3px 2px 2px;line-height: 11px;font-size: 13px;}  
.mcf_metabox table.mcf-input-table tr td.remove a:hover, .mcf_metabox table.mcf-input-table tr td.remove a:focus{outline:none;}
.mcf_metabox table.mcf-input-table tr td.remove a:hover i{color:#fff;border:1px solid #ff0000;background-color:#ff0000;} 
.mcf_metabox .addrow-btn{margin: 10px 0px 0px;}
.mcf_metabox .addrow-btn li{float: right;}
.mcf_metabox .own_input_field_text .switch-field input:checked + label{background-color: #4c8cde;color:#fff;} 
.mcf_metabox .own-fields .colorchange select, .mcf_metabox .own-fields .colorchange input, .mcf_metabox .own-fields textarea{width:100%!important;} 
.mcf_metabox .own_fields.own_input_field_text .has-image{position:relative;display: inline-block;}
.mcf_metabox .own_fields.own_input_field_text .has-image .img_hover{display: none;}
.mcf_metabox .own_fields.own_input_field_text .has-image:hover .img_hover{display:block;}
.mcf_metabox .own_fields.own_input_field_text .has-image .img_hover a{position:absolute;top:3px;right:4px;border-color: transparent;background: #23282D;color: #eee;height: 26px;width: 26px;display: inline-block;border-radius:50%;padding: 3px 4px;text-align: center;}  
.mcf_metabox .own-fields input[type="text"], .own-fields select{width: 100%;padding: 3px 5px;resize: none;margin: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-size: 14px;line-height: 1.4;} 